* {
  box-sizing: border-box;
}

.alice-carousel ul li img {
  height: 550px;
  width: 100%;
  object-fit: cover;
}

.alice-carousel ul li {
  margin-left: auto;
  margin-right: auto;
}

.details-teacher-img {
  width: 200px;
  height: 250;
}